.submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: blue;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 25px;
    
  }
  .submit-btn:hover{
    background: #2ecc71;
    color: black;
  }